body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f2f2f;
  color: #f3f9d2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navigation {
  height: 3em;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 5%;
  font-size: 2em;
  margin-top: -1em;
}

#main-content {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  width: 95%;
  justify-content: center;
}
#info-tab {
  height: 85vh;
  width: 30%;
  background-color: #92b4a7;
  color: #2f2f2f;
  display: flex;
  border: 2px black solid;
}
#info-navigation {
  border-right: 2px solid #2f2f2f;
  display: flex;
  width: 12%;
  flex-direction: column;
  gap: 1em;
  padding-top: 10px;
  padding-right: 10px;
}

#info-navigation > button {
  height: 5em;
  width: 5em;
  padding: 0%;
  background: transparent;
  border: 0;
  cursor: pointer;
}
#info-navigation > button:hover {
  background-color: rgba(47, 47, 47, 0.2);
}
#info-navigation svg {
  width: 60%;
  height: auto;
}
.info-task::-webkit-scrollbar {
  display: none;
}
.info-task {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 90%;
  overflow: scroll;
}
.info-task > h2 {
  font-weight: bolder;
  justify-self: center;
}
#info-home {
  width: 80%;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#info-task {
  display: flex;
  justify-content: space-between;
}
#info-task > span:first-child {
  font-weight: bold;
}
#info-home-quote > p:last-child {
  text-align: right;
}
.info-all-info {
  justify-self: flex-start;
  margin-left: -5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: large;
}
#info-add-task-input {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  font-size: 1.1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#info-add-task-input input {
  background-color: #92b4a7;
  border: none;
  border-bottom: 2px solid #2f2f2f;
  width: 15em;
  height: 2em;
  font-size: 1.1em;
}
#info-add-task-input input:focus {
  outline: none;
  border-bottom: 2px solid #2f2f2f;
}
#info-add-task-input label {
  font-weight: 500;
  display: block;
}
#input-priority {
  display: flex;
  gap: 3em;
}
#input-priority > label {
  padding-top: 3px;
}
.input-select {
  border: none;
  color: #2f2f2f;
}
.input-select > option {
  background-color: #92b4a7;
  color: #2f2f2f;
}
#input-button-add {
  width: 10em;
  height: 3em;
  font-size: 0.8em;
  background-color: #f3f9d2;
  color: #2f2f2f;
  font-weight: bold;
  border-radius: 10%;
  margin-top: 4em;
}
#input-time-allocate > input {
  width: 2em;
}
#input-time-allocate > label {
  display: inline;
  margin-right: 1em;
}

#input-error {
  height: 2em;
  margin-top: 1em;
  margin-bottom: 3em;
  color: rgb(255, 45, 45);
  font-weight: bold;
}
/*Button Options javascript file*/

.task-delete-buttons > button {
  height: 3em;
  width: 6em;
  font-size: 0.4em;
  background-color: red;
  cursor: pointer;
  border-radius: 10%;
}
.task-delete-buttons > button:first-child {
  background: transparent;
  border: 0px;
}
.task-delete-buttons > button:last-child {
  color: #f3f9d2;
  border: 2px solid #2f2f2f;
}
.task-delete-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  gap: 0.8em;
  color: #2f2f2f;
  margin-top: 1em;
}
/*Button Options javascript file*/

/*******************************/

/*Task Content javascript file*/

.task-status,
#input-priority > select,
.input-date > select {
  height: 2em;
  font-size: 0.9em;
  background: transparent;
  outline: 0px;
}
.task-complete {
  background-color: lightblue;
}
.task-ongoing {
  background-color: lightgreen;
}
.task-upcoming {
  background-color: khaki;
}
.task-status-complete {
  border: 1px solid lightblue;
}
.task-status-ongoing {
  border: 1px solid lightgreen;
}
.task-status-upcoming {
  border: 1px solid khaki;
}
.task-status:hover {
  background-color: rgba(47, 47, 47, 0.2);
}
.task-delete {
  animation: 0.3s ease-out fadeOut;
}
.task-delete-checkbox {
  margin-right: 1em;
  margin-left: -0.5em;
  width: 1.2em;
  height: 1.2em;
}

/*Task Content javascript file*/

/*******************************/

/*Task Dates List javascript file*/

.task-list-open {
  animation: 0.2s ease-out openAnim;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #2f2f2f;
  height: 10em;
}

.task-list-close {
  animation: 0.2s ease-out closeAnim;
  height: 0em;
}

/*Task Dates List javascript file*/

/*******************************/

/*Task Header javascript file*/

.task-header {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
}
.task-header > p {
  font-size: 0.8em;
  margin-left: 1em;
}
.task-header button {
  background: transparent;
  border: 0;
  font-size: 0.7em;
  margin-top: 0.5em;
  padding: 1em;
  height: inherit;
  cursor: pointer;
}
.task-header button:hover {
  background-color: rgba(47, 47, 47, 0.1);
  height: inherit;
}
.task-header-allocated {
  font-size: large;
  align-self: flex-end;
}
.task-icons {
  position: relative;
}
.task-sort-icon ul {
  position: absolute;
  background-color: #f3f9d2;
  border: 1px solid #2f2f2f;
  border-top: 0px;
  list-style: none;
  padding-left: 0%;
  width: 7em;
  margin-left: 2em;
  font-size: 0.8em;
  cursor: pointer;
}

.task-sort-icon ul > li:hover {
  background-color: hsla(0, 0%, 18%, 0.2);
}

/*Task Header javascript file*/

/*******************************/

/*Task List By List javascript file*/
.task-by-list::-webkit-scrollbar {
  display: none;
}
.task-by-list span:first-child {
  padding-top: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
}
.task-by-list label {
  padding-top: 0.3em;
}

.task-by-list {
  list-style: none;
  font-size: 0.6em;
  height: 11em;
  width: 98%;
  margin-top: 1em;
  overflow-y: scroll;
}
.task-by-list > li {
  width: 95%;
  border: 2px solid #2f2f2f;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}
/*Task List By List javascript file*/

/*******************************/

/*Task List By Section javascript file*/

.task-list-by-section {
  border-right: 2px solid #2f2f2f;
  height: inherit;
  width: 7.5em;
}
.task-list-by-section:last-child {
  border-right: 0px;
}
.task-list-by-section > header {
  margin: 0px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
}

/*Task List By Section javascript file*/

/*******************************/

/*Tasks javascript file*/

#task-tab::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
#task-tab {
  background-color: #f3f9d2;
  color: #2f2f2f;
  width: 65%;
  margin-top: 0px;
  height: 85vh;
  padding: 0%;
  border: 2px black solid;
  border-left-width: 0px;
  list-style: none;
  font-size: 2em;
  overflow-y: scroll;
}
#task-tab > li {
  box-shadow: 0px 10px 10px rgba(47, 47, 47, 0.5);
}
/*Task Tab javascript file*/

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes openAnim {
  from {
    height: 0em;
  }
  to {
    height: 10em;
  }
}
@keyframes closeAnim {
  from {
    height: 10em;
  }
  to {
    height: 0em;
  }
}
