#task-tab::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.task-by-list::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f2f2f;
  color: #f3f9d2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#navigation {
  height: 3em;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 5%;
  font-size: 2em;
  margin-top: -1em;
}
#main-content {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  width: 95%;
  justify-content: center;
}
.info-tab {
  height: 85vh;
  width: 30%;
  background-color: #92b4a7;
  border: 2px black solid;
}
#task-tab {
  background-color: #f3f9d2;
  color: #2f2f2f;
  width: 70%;
  margin-top: 0px;
  height: 85vh;
  padding: 0%;
  border: 2px black solid;
  border-left-width: 0px;
  list-style: none;
  font-size: 2em;
  overflow-y: scroll;
}
#task-tab > li {
  box-shadow: 0px 10px 10px rgba(47, 47, 47, 0.5);
}
.task-header {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
}
.task-header > p {
  font-size: 0.8em;
  margin-left: 1em;
}
.task-header button {
  background: transparent;
  border: 0;
  font-size: 0.7em;
  margin-top: 0.5em;
  padding: 1em;
  height: 0.3em;
  cursor: pointer;
}
.task-header button:hover {
  background-color: rgba(47, 47, 47, 0.1);
  height: inherit;
}
.task-list-open {
  animation: 0.2s ease-out openAnim;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-top: 2px solid #2f2f2f;
  height: 10em;
}
.task-by-list {
  list-style: none;
  font-size: 0.6em;
  height: 11em;
  width: 100%;
  margin-top: 1em;
  overflow-y: scroll;
}
.task-by-list > li {
  width: 95%;
  border: 2px solid #2f2f2f;
  display: flex;
  justify-content: space-between;
}
.task-complete {
  background-color: lightblue;
}
.task-ongoing {
  background-color: lightgreen;
}
.task-upcoming {
  background-color: khaki;
}
.task-by-list span {
  margin-left: 1em;
  margin-right: 1em;
}
.task-list-by-section {
  border-right: 2px solid #2f2f2f;
  height: inherit;
  width: 7.5em;
}
.task-list-by-section:last-child {
  border-right: 0px;
}
.task-list-by-section > header {
  margin: 0px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
}
.task-list-close {
  animation: 0.2s ease-out closeAnim;
  height: 0em;
}
@keyframes openAnim {
  from {
    height: 0em;
  }
  to {
    height: 10em;
  }
}
@keyframes closeAnim {
  from {
    height: 10em;
  }
  to {
    height: 0em;
  }
}
